.greenMessage {
    color: rgb(49, 126, 85);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.redMessage {
    color: rgb(255,0,0);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.blog-container {
    border: 1px solid #ccc; 
    padding: 10px;           
    border-radius: 5px;      
    margin: 10px 0;         
}
  
.button-remove {
    background-color: rgb(114, 163, 196); /* Blue background */
}